<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="Shoko.Server"/>
  </extensions>
  <targets>
    <target name="file" xsi:type="File"
            fileName="${basedir}/logs/${shortdate}.jsonl"
            archiveAboveSize="52428800"
            archiveNumbering="DateAndSequence"
            archiveFileName="${basedir}/logs/${shortdate}.{#####}.jsonl"
            keepFileOpen="false"
            concurrentWrites="true">
      <layout xsi:type="JsonLayout">
        <attribute name="timestamp" layout="${date:universalTime=true:format=o}" />
        <attribute name="level" layout="${level}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="caller" layout="${callsite:className=true:methodName=true}" />
        <attribute name="threadId" layout="${threadid}" />
        <attribute name="processId" layout="${processid}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}| --- ${message}${onexception:\: ${exception:format=tostring}}"/>
  </targets>
  <rules>
    <logger name="Microsoft.AspNetCore.*" maxlevel="Info" final="true" /> <!-- Http log spam (blackhole) -->
    <logger name="Quartz*" maxlevel="Info" final="true" /> <!-- Quartz blackhole -->
    <logger name="Shoko.Server.Scheduling.ThreadPooledJobStore" maxlevel="Info" final="true" /> <!-- Quartz blackhole -->
    <logger name="Shoko.Server.Scheduling.Delegates.*" maxlevel="Info" final="true" /> <!-- Quartz blackhole -->
    <logger name="Shoko.Server.API.Authentication.CustomAuthHandler" maxlevel="Info" final="true" /> <!-- Auth log spam (blackhole) -->
    <logger name="*" minlevel="Info" writeTo="file"/>
    <logger name="*" minlevel="Trace" writeTo="console"/>
  </rules>
</nlog>
